.trash-zone {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: rgba(255, 0, 0, 0.1);
    color: white;
    text-align: center;
    line-height: 80px;
    font-size: 18px;
    font-weight: bold;
    transition: background 0.3s max-height 0.3s ease-in-out;
    z-index: 4;
    max-height: 10;
    overflow: hidden;
  }

.trash-zone--active {
    background-color: rgba(255, 0, 0, 1);
}

.trash-zone:hover{
    max-height: 1000px;
    transition: max-height 0.3s ease-in-out;
}
